:root{
    --main-color: #66CCCC;
    --text-color: #666666;
    --link-color: #FF9900;
}

/* Les nouvelles font Lota et Lora ne sont aps détecté par VsCode après leur installation */

body{
    color: var(--text-color);
}
.bandeau{
    display: flex;
    align-items: center;
    background-color: var(--main-color);
}
#tel{
    margin-top: 15px;
}
h1{
    justify-content: flex-start;
    font-family: Lato;
}
nav{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.sanspuce{
    list-style-type: none;
}
a{
    color: var(--link-color);
    text-decoration: none;
}
main{
    display: flex;
    justify-content: space-between;
}
main img{
    height: 100px;
    width: 370px;
    margin-left: 3em;
}
#section-web, #section-adv{
    display: flex;
    margin: 5%;
    flex-direction: column;
    border: solid 1px black;
    padding: 25px;
}
.btn{
    padding: 2px;
    border: solid 1px black;
}
main section footer{
    display: flex;
    justify-content: flex-end;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form, address, #employe{
    padding: 2px;
    margin-left: 5%;
    margin-right: 5%;
    height: 200px;
    width: 33%;
    border: solid 1px black;
}
.icon{
    color: var(--link-color);
    height: 2em;
    width: 150px;
}
.num{
    text-decoration: underline;
}
footer .icon{
    display: flex;
    align-self: flex-start;
    justify-content: center;
    margin-left :25%;
    margin-top: 0;
    font-size: 40px;
    height: 35px;
}
.vcard{
    width: 50%;
}
.dl{
    display: flex;
    justify-content: flex-end;
}
.form{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
form .icon{
    width: 100%;
    display: flex;
    margin-left: 0;
}
.name{
    margin-top: 50px;
}
#legale{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}